
/*3dfw */


@font-face {
    font-family: 'fsjack';
    src: url('/delivery/static/fonts/flixmedia/fsjack-medium-webfont.woff2') format('woff2'), url('/delivery/static/fonts/flixmedia/fsjack-medium-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'fsjack';
    src: url('/delivery/static/fonts/flixmedia/fsjack-regular-webfont.woff2') format('woff2'), url('/delivery/static/fonts/flixmedia/fsjack-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#flix_selector_3d.inpage_selector_3d_fw #flix-3dfwsection{
    background: #e6e9eb;
    display: block!important;
    margin-top: 20px;    
    margin: 20px auto 0 auto;
    position: relative;
}
#flix_selector_3d #flix-3dfwsection .flix-3dfw-content *{
    /*font-family: 'fsjack', Helvetica, Arial, sans-serif;*/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial!important;
}
#flix_selector_3d #flix-3dfwsection .flix-3dfw-content{    
    /*font-family: 'fsjack', Helvetica, Arial, sans-serif;*/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial!important;
    margin: 0 auto;
    max-width: 1000px;
    padding: 70px 40px;
    text-align: center;
    vertical-align: top;
}
#flix_selector_3d #flix-3dfwsection .flix-3dfw-content .flix-3dfw-mobile{
    display: none;
}
#flix_selector_3d #flix-3dfwsection.flix-3dfw-mbl .flix-3dfw-mobile-hide{
    display: none!important;
}

#flix_selector_3d #flix-3dfwsection .flix-3dfw-content .flix-3dfw-360,
#flix_selector_3d #flix-3dfwsection .flix-3dfw-content .flix-3dfw-qr{
    cursor: pointer;
    display: inline-block;
    min-width: 20px;
    position: relative;
    width: 40%;    
    vertical-align: top;
}

#flix_selector_3d #flix-3dfwsection .flix-3dfw-content .flix-3dfw-qr .flix-3dfw-aricon{
    padding: 0;
}
#flix_selector_3d #flix-3dfwsection .flix-3dfw-content .flix-3dfw-360 img,
#flix_selector_3d #flix-3dfwsection .flix-3dfw-content .flix-3dfw-qr img{
    box-shadow: 5px 5px 18px 5px #b2b2b2!important;
    border-radius: 8px;
    margin: 0 0 40px 0;
    display: inline-block;
}
#flix_selector_3d #flix-3dfwsection .flix-3dfw-content .flix-3dfw-qr img{
    box-sizing: border-box;
    width: 168px;
    padding: 10px;
    display: inline-block;
}
#flix_selector_3d #flix-3dfwsection .flix-3dfw-content .flix-3dfw-qr img.flix-iosarimg{
    position: absolute;
}

#flix_selector_3d #flix-3dfwsection .flix-3dfw-content .flix-3dfw-360title{    
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    margin-bottom: 25px;
    min-height: 42px;
    vertical-align: top;
}

#flix_selector_3d #flix-3dfwsection .flix-3dfw-content .flix-3dfw-360hint{
    font-size: 12px;
    line-height: 11px;
    margin-top: -20px;
    position: absolute;
    width: 100%;
}

#flix_selector_3d #flix-3dfwsection .flix-3dfw-content .flix-3dfw-360text{    
    background: #d8dfe4;
    clear: left;
    border-radius: 8px;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    margin-top: 15px;
    padding: 10px 10px;
}

#flix_selector_3d #flix-3dfwsection .flix-3dfw-content .flix-3dfw-lighbox{
    background: #e4e8ea;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 6px #b2b2b2!important;
    display: none;
    left: 50%;
    margin-top: 30px;
    max-width: 90%;
    padding: 40px 20px;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(-50%);
    vertical-align: top; 
    width: 95%;   
    z-index: 1;
}

#flix_selector_3d #flix-3dfwsection .flix_3dfw-close {    
    background: url(//media.flixcar.com/delivery/static/images/icn_logout.png) no-repeat;
    cursor: pointer;
    height: 16px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 16px;
    z-index: 1;
}

#flix_selector_3d #flix-3dfwsection .flix-3dfw-content .flix-3dfw-lighbox .flix-3dfw-lightbox-title{
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 40px 0;
}

#flix_selector_3d #flix-3dfwsection .flix-3dfw-content .flix-3dfw-lighbox .flix-3dfw-lb{
    display: inline-block;
    margin: 0 1%;
    min-width: 20px;
    vertical-align: top;
    width: 22%;
}
#flix_selector_3d #flix-3dfwsection .flix-3dfw-content .flix-3dfw-lighbox .flix-3dfw-lb img{
    border-radius: 8px;
    box-shadow: 5px 5px 18px 5px #b2b2b2!important;
    margin: 0 0 20px 0;    
    width: 120px;
    display: inline-block;
}
#flix_selector_3d #flix-3dfwsection .flix-3dfw-content .flix-3dfw-lighbox .flix-3dfw-lb-1{
    margin-left: 0;
}
#flix_selector_3d #flix-3dfwsection .flix-3dfw-content .flix-3dfw-lighbox .flix-3dfw-lb-4{
    margin-right: 0;
}

/*#flix_selector_3d #flix-3dfwsection.flix-3dfw-mbl .flix-3dfw-desktop {
    display: none;
}*/
#flix_selector_3d #flix-3dfwsection.flix-3dfw-mbl .flix-3dfw-mblshow {
    display: block;
}


#flix_selector_3d #flix-3dfwsection.flix-3dfw-mbl .flix-3dfw-content{
    padding: 10px;
}

#flix_selector_3d #flix-3dfwsection.flix-3dfw-mbl .flix-3dfw-content .flix-3dfw-360{
    margin: 0 4% 0 0;
    width: 45%;
}

#flix_selector_3d #flix-3dfwsection.flix-3dfw-mbl .flix-3dfw-content .flix-3dfw-qr{
    margin: 0 0 0 4%;
    width: 45%;
}

#flix_selector_3d #flix-3dfwsection.flix-3dfw-mbl .flix-3dfw-content .flix-3dfw-qr a{
    display: inline-block;
}

#flix_selector_3d #flix-3dfwsection.flix-3dfw-mbl .flix-3dfw-content .flix-3dfw-360 img, 
#flix_selector_3d #flix-3dfwsection.flix-3dfw-mbl .flix-3dfw-content .flix-3dfw-qr img {
    max-width: 85%;
    margin-left: 2px;
    margin-right: 2px;
}

#flix_selector_3d #flix-3dfwsection.flix-3dfw-mbl .flix-3dfw-content .flix-3dfw-360title{    
    min-height: 70px;
}

#flix_selector_3d #flix-3dfwsection.flix-3dfw-mbl .flix-3dfw-content .flix-3dfw-lighbox{
    width: 90%;
}

#flix_selector_3d #flix-3dfwsection.flix-3dfw-mbl .flix-3dfw-content .flix-3dfw-lighbox{
    padding: 30px 10px 20px 10px;
    max-width: 100%;
}

#flix_selector_3d #flix-3dfwsection.flix-3dfw-mbl .flix-3dfw-content .flix-3dfw-lighbox .flix-3dfw-lb{        
    margin: 0px 2% 30px 2%;
    width: 28%;
}

#flix_selector_3d #flix-3dfwsection.flix-3dfw-mbl .flix-3dfw-content .flix-3dfw-lighbox .flix-3dfw-lb img{
    margin: 0 0 10px 0;
    max-width: 100%;
}

@media ( max-width: 400px) {

    #flix_selector_3d #flix-3dfwsection .flix-3dfw-content {       
        padding: 10px;
    }

    #flix_selector_3d #flix-3dfwsection .flix-3dfw-content .flix-3dfw-lighbox .flix-3dfw-lightbox-title {
        padding: 0 0 25px 0;
    }


    #flix_selector_3d #flix-3dfwsection .flix-3dfw-content .flix-3dfw-360text {        
        margin-top: 30px;
    }

    #flix_selector_3d #flix-3dfwsection.flix-3dfw-mbl .flix-3dfw-content .flix-3dfw-lighbox{
        width: 100%;
    }
    #flix_selector_3d #flix-3dfwsection.flix-3dfw-mbl .flix-3dfw-content .flix-3dfw-lighbox .flix-3dfw-lb {
        margin: 0px 2% 20px 2%;
       /* width: 100%;*/
    }

    #flix_selector_3d #flix-3dfwsection .flix-3dfw-content .flix-3dfw-lb .flix-3dfw-360text{
        margin-top: 5px;
        /*padding: 3px;*/
    }
}
a.MultiFile-remove{
cursor: pointer;}

#flix_hotspots.flix_hotspotV2 .flix-3dfw-aricon{
    cursor: pointer;
}
/*hotspot css */
#flix_hotspots.flix_hotspotV2 .flix-3dfw-aricon .flix_defaulticon{
    box-shadow: 2px 2px 3px -1px #777;
    border-radius: 11px;
}

/*3dfw ends*/